body {
  margin: 0;
  padding: 0;
}

#conteneur {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}


/* On veut que chaque bloc contenant une image soit égal à 25% de la largeur total et à 100% en hauteur */
.blocText {
  position: relative;
  width: 25%;
  height : 100%;
  overflow: hidden;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h1 est en 32px */
h1 {
  border:2px solid purple ;
}

.blocText:hover{
  background-color: red;
}

@keyframes zoom {
  from {font-size: 32px;}
  to {font-size: 56px;}
}


.blocText:hover h1 {
  animation-name: zoom;
  animation-duration: 0.5s;
  font-size: 56px;
}