body {
    font-family: helvetica;
    height : 100%;
    margin: 0;
    padding: 0;
  }

#conteneur {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes example {
  from {background-color: black;}
  to {background-color: purple;}
  from {font-size: 20px;}
  to {font-size: 200px;}
  from {padding: 5px;}
  to {padding: 50px;}
}

.element {
  background-color: purple;
  font-size: 200px;
  color: white;
  border-color: white;
  border: 5px solid;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin:auto;

  animation-name: example;
  animation-duration: 3s;
}

.element:nth-child(2){
  background-color:green;
  align-self: flex-end;
}

.element:hover{
  background-color: red;
}

a:link{
  color: white;
}

a:active{
  color:blue
}

